<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yaurl Django</title>
</head>
<body>

<nav>
    {% if user.is_authenticated %}
    <p>You are logged in as {{ user.get_username }}</p>
    <a href="{% url 'profile' %}">Profile</a>
    {% else %}
    <p>You aren't logged in</p>
    {% endif %}

    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'logout' %}">Logout</a>
</nav>

{% block content %}
{% endblock %}

</body>
</html>