<div class="posts">
    {% for post in posts_page %}

    <div class="card mt-2">
        <div class="card-body">
            <h4 class="card-title"><a href="{% url 'blog-post' post.id %}">{{post.title}}</a></h4>
            <p class="card-text">
                <a class="text-muted" href="{% url 'profile' post.author.id %}">
                    {{post.author.username}}
                </a>
            </p>
            <p class="card-text text-limited">{{post.content}}</p>
        </div>
    </div>

    {% endfor %}

    {% include 'blog/pager.html' with page=posts_page %}
</div>