{% extends 'base.html' %}

{% block content %}
<h1>{{ user.get_username }} Profile</h1>

<h3>Your shorts:</h3>
<table style="width: 40%;">
    <thead>
    <tr>
        <th>Original URL</th>
        <th>Redirects</th>
        <th>Created At</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    {% for shorted_url in user.shortedurl_set.all %}
    <tr>
        <td><a href="{% url 'redirect' shorted_url.id %}">{{ shorted_url.original_url }}</a></td>
        <td>{{ shorted_url.redirects }}</td>
        <td>{{ shorted_url.created_at }}</td>
        <td>
            <form action="{% url 'remove' %}" method="post">
                {% csrf_token %}
                <input id="shorted_id" name="shorted_id" type="hidden" value="{{ shorted_url.id }}">
                <button type="submit">Remove</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Posts:</h2>
<ul>
    {% for post in user.post_set.all %}
    <li><a href="{% url 'blog-post' post.id %}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

{% endblock %}